www/www.zip
www/.idea/*
www/.idea/watcherTasks.xml
www/.idea/misc.xml
www/.idea/inspectionProfiles/Project_Default.xml
platforms/*
platforms/browser/www/css/styles.css
platforms/browser/www/index.html
platforms/browser/www/js/my-app.js
platforms/browser/www/www.zip
.idea/modules.xml
.idea/SA-SSD.iml
.idea/vcs.xml
.idea/workspace.xml
www/node_modules/
node_modules/
www/dist/
plugins/android.json
package.json
info.txt
