/*maps styles - start*/
#map-field {
    height: 100%;
    width: 100%;
}

#near-parcels-map {
    height: 100%;
}

.buttons-map {
    left: 16px;
    right: 16px;
    width: 60% !important;
    bottom: 16px;
    position: absolute;
    z-index: 99;
}

.button-map {
    color: white;
    background-color: rgb(33, 150, 243);
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    display: block;
    width: 80px;
    /* height: 29px; */
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.16s ease-out;
    /* background: white; */
}

/*maps styles - end*/

.page {
    background: #EFEFF0;
}


.buttons-row {
    width: 100%;
}

/*subnavbar*/
.tabbar-labels {
    height: 48px;
}

/*changing standsrt indentation*/
.navbar-fixed .tabbar-labels ~ .page-content, .navbar-through .tabbar-labels ~ .page-content {
    padding-top: 104px;
}

/*line transfer*/
.list-block .item-title {
    white-space: inherit;
}

/*remove shadow*/
.remove-shadow {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0), 0 4px 5px 0 rgba(0, 0, 0, 0), 0 1px 10px 0 rgba(0, 0, 0, 0) !important;
}
/*centering of object*/
.center-my {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#verify-icon {
    margin-top: 16px;
    padding-left: 16px;
    position: absolute;
    color: rgb(96, 191, 132)
}

/*retry signature*/
#retry {
    margin-top: 16px;
    /*margin-right: 32px;*/
    padding-right: 32px;
    right: 0;
    /*padding-top: 32px;*/
    position: absolute;
    opacity: 0.5;
}

#inner {
    display: table;
    margin: 0 auto;
}

.title-style {
    white-space: inherit;
    font-size: 18px;
    line-height: 1.3;
}

/*constant button size*/
.button-size {
    width: 80px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/*assign color of "confirm button"*/
.buttonConfirm {
    background-color: rgb(96, 191, 132) !important;
}

.icon-opacity {
    opacity: 0.5;
}

/*spaces in list of warehouses - start*/
#space-between-icon-and-text_icon {
    position: absolute;
}

#space-between-icon-and-text_text {
    padding-left: 40px;
}
/*spaces in list of warehouses - end*/

/*styles for range label in search parcels - start*/
.range-title {
    margin-left: 0px !important;
}

.range-title-inner {
    white-space: initial;
    width: 100%;
    font-size: 16px;
    color: rgba(0, 0, 0, .65);
}
/*styles for range label in search parcels - end*/

.line {
    border-bottom: 2px solid #ccc;
}

.list-block ul:before {
    background-color: white;
}

.list-block .item-inner:after {
    background-color: white;
}

.list-block .item-inner:before {
    background-color: white;
}

#LeftPanel .list-block {
    margin: 16px 0;
    font-size: 16px;
}

/*"refresh list of parcels" style*/
.refresh1 {
    padding-left: 16px;
    padding-right: 16px;
}