/*styles for input field in confirm parcel page*/
#confirmParcel .group {
    position: relative;
    margin-bottom: 16px;
}

#confirmParcel input {
    background: #efeff0;
    font-size: 18px;
    padding: 8px 8px 8px 0px;
    position: relative;
    display: block;
    width: -webkit-fill-available;
    border: none;
    border-bottom: 1px solid #757575;
}
::-webkit-input-placeholder {color:#999}
#confirmParcel input:focus {
    outline: none;
}

/* LABEL ======================================= */
#confirmParcel label {
    color: #999;
    /*font-size: 18px;*/
    /*font-weight: normal;*/
    position: absolute;
    left: 0px;
    /*top: 8px;*/
    top: -20px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0,0,0,.54);
}


#confirmParcel input.focus-state:invalid{
    border-bottom: 2px solid #f44336;
    /*color:#ff9800;*/
}
#confirmParcel input.not-empty-state:invalid{
    border-bottom: 2px solid #f44336;
    /*color:#ff9800;*/
}
#confirmParcel input:valid{
    border-bottom: 2px solid rgb(96, 191, 132);
    /*color:#ff9800;*/
}
#confirmParcel input.focus-state:invalid+ span:after {
    white-space: inherit;
    width: 100%;
    content: 'Max length is 100 characters and min length is 5';
    color:#f44336;
}
#confirmParcel input.not-empty-state:invalid+ span:after {
    white-space: inherit;
    width: 100%;
    content: 'Max length is 100 characters and min length is 5';
    color:#f44336;
}
#confirmParcel input:valid+span.helper:after {
    color: rgb(96, 191, 132);
    content: 'Good!';
    position: absolute;
    width: 100%;
}